/*baseCss*/
body {
    background-image: url('../images/base.jpg');
    background-size: cover;
    background-position: center;
    transition: background-position 0.1s;
}

/* Aplica cursor invisível apenas no desktop */
@media (min-width: 992px) {
  html, body, * {
    cursor: none !important;
  }

  input, textarea {
    caret-color: transparent;
  }

  button, a {
    cursor: none !important;
  }
}


/* Cursor visível em inputs e textarea no mobile */
@media (max-width: 991.98px) {
    input,
    textarea,
    select,
    button,
    a {
        cursor: auto !important;
    }
}

.custom-cursor {
    left: -100px;
    top: -100px;
}

/* cursor invisível para ocultar o cursor padrão */
.cursor-invisible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  cursor: none !important;
  z-index: 9999;
}
