/* Variáveis CSS para cores */

:root {
    --cyan: #0dcaf0;
    --cyan-bright: #00ffff;
    --cyan-dark: #00427a;
    --cyan-shadow1: rgba(0, 255, 255, 0.2);
    --cyan-shadow2: rgba(0, 255, 255, 0.4);
    --cyan-shadow3: rgba(0, 255, 255, 0.6);
}
